*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #D8DBD6;
    height: 100vh;
}
.container-wrapper{
    width: 80%;
    min-height: 560px;
    margin: 30px auto;
    border: 1px solid black;
    display: flex;
}
.slider{
    width: 40%;
    min-height: 560px;
    border: 1px solid black;
}
.my-profile{
    width: 100%;
    height: 60px;
    border: 1px solid black;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.imagine-text{
    min-width: 60%;
    height: 50px;
    background-color: green;
    display: flex;
    align-items: center;
}
.imagine-text .image{
    width: 50px;
    height: 100%;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
}
.imagine-text .image img{
    width: 100%;
}
.info{
    width: 100px;
    height: 50px;
    background-color: green;
    display: flex;
    align-items: center;
}
.notify{
    width: 100%;
    height: 60px;
    background-color: cadetblue;
    display: flex;
    align-items: center;
}
.notify .imag-text{
    width: 70%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    margin-left: 10px;
    
}
.imag-text .testo{
    margin-left: 10px;
}
.imag-text .awesom{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 2px;
    text-align: center;
    line-height: 40px;
    background-color: white;
}
.imag-text .notifica{
    font-size: 13px;
}
.search-chat{
    width: 100%;
    height: 35px;
    background-color: rgb(209, 191, 191);
    display: flex;
    align-items: center;
}
.symbol-barra-ricerca{
    width: 95%;
    height: 80%;
    margin: auto;
    background-color: green;
    display: flex;
}
.symbol-barra-ricerca .barra{
    width: 100%;
}
.awesom-search{
    width: 15%;
    height: 100%;
    background-color: rgb(209, 190, 190);
    text-align: center;
    line-height: 30px;
}
.contatto1{
    width: 98%;
    height: 60px;
    border: 1px solid rgb(184, 171, 171);
    display: flex;
    align-items: center;
}
.contatto1:hover{
    background-color: rgb(240, 230, 230);
}
.contatto1 .immagine-testo{
    width: 94%;
    height: 90%;
    margin: auto;
    border: 1px solid rgb(184, 171, 171);
    display: flex;
    position: relative;
}
.contatto1 .immagine-testo .immagine{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgb(184, 171, 171);
    
}

.contatto1 .immagine-testo .immagine img{
    height: 100%;
}
.contatto1 .testo .message{
    font-size: 10px;
    color: gray;
}
.contatto1 .testo{
    margin-left: 10px;
}
.contatto1 .testo .data{
    font-size: 10px;
    color: gray;
    position: absolute;
    top: 0;
    right: 2px;
}
.contatto-messag{
    width: calc(100% - 30%);
    position: relative;

}
.contatto{
    width: 100%;
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contatto .contatto-scelto{
    width: 98%;
    height: 80%;
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.immage-testo-scelto{
    width: 50%;
    height: 80%;
    border: 1px solid black;
    display: flex;

}
.contatto .contatto-scelto .icone{
    width: 15%;
    height: 80%;
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.immage-testo-scelto .image{
    width: 35px;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
}
.immage-testo-scelto .image img{
    height: 100%;
}
.testo-scelto{
    margin-left: 10px;
}
.altro-messag{
    font-size: 13px;
    color: gray;
}
.chat{
    width: 100%;
    height: calc(100% - 120px);
    border: 1px solid black;
}
.chat .contenitore-messaggi{
    width: 75%;
    height: 100%;
    margin: 40px auto;
    border: 1px solid black;
}
.chat .contenitore-messaggi .riga1{
    width: 100%;
    min-height: 49px;
    border: 1px solid black;
}
.chat .contenitore-messaggi .riga2{
    width: 100%;
    min-height: 49px;
    border: 1px solid black;
}
.riga2 .messaggio2{
    width: 200px;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    background-color: #D5FABB;
    float: right;
    font-size: 15px;
    position: relative;
}
.riga2 .messaggio2 .data3{
    position: absolute;
    right: 4px;
    font-size: 8px;
    color: gray;
}
.riga1 .messaggio{
    width: 200px;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    background-color: #D5FABB;
    float: right;
    font-size: 15px;
    position: relative;
}
.riga1 .messaggio .data2{
    position: absolute;
    right: 4px;
    font-size: 8px;
    color: gray;
}
.chat .contenitore-messaggi .riga3{
    width: 100%;
    min-height: 49px;
    border: 1px solid black;
}
.riga3 .messaggio3{
    width: 200px;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    background-color: #FFFFFF;
    font-size: 15px;
    position: relative;
}
.riga3 .messaggio3 .data4{
    position: absolute;
    right: 4px;
    font-size: 8px;
    color: gray;
}
.search-awesome{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    border: 1px solid black;
    display: flex;
}
.search-awesome .smile{
    width: 10%;
    height: 100%;
    background-color: #F3EEEA;
    text-align: center;
    line-height: 50px;
}
.search-awesome .barra-ricerca{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #F3EEEA;
}
.search-awesome .barra-ricerca .ricerca{
    width: 100%;
    height: 80%;
    border-radius: 5px;
}
.search-awesome .registrare{
    width: 10%;
    height: 100%;
    background-color: #F3EEEA;
    text-align: center;
    line-height: 50px;
}